

.news-box--width {
    width: 52rem;
    padding-right: 2rem;
  }
  
  .news-box--wrap {
    width: calc(100% - 54rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .vaccine-news--box {
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    padding-right: 2rem;
  }
  
  .box-img--width {
    width: 18rem;
    margin-right: 1.6rem;
  }
  
  .box-title--width {
    flex: 1;
  }
  
  @media (max-width: 991.98px) {
    .news-box--width {
      width: 100%;
      padding-bottom: 2rem;
    }
    .news-box--wrap {
      width: 100%;
    }
  }